* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

.hero {
  padding: 2rem 4rem 10rem 4rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  width: 35%;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
  display: inline;
  margin-left: 1rem;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: hsl(257, 7%, 63%);
}

a:hover {
  color: hsl(260, 8%, 14%);
}

.signup-button {
  all: unset;
  margin-left: 2rem;
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.main-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3rem;
}

.illustration {
  width: 50%;
}

.intro {
  width: 40%;
}

.intro h1 {
  color: hsl(260, 8%, 14%);
  font-weight: 700;
  font-size: 4rem;
}

.intro p {
  color: hsl(257, 7%, 63%);
  font-size: 1.2rem;
  font-weight: 500;
}

.intro button {
  all: unset;
  margin-top: 1rem;
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

.url-input {
  width: 80%;
  margin: 0 auto;
  background-color: hsl(257, 27%, 26%);
  padding: 3rem 3rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin-bottom: -5rem;
  position: relative;
  z-index: 10;
}

.url-input input {
  all: unset;
  background-color: white;
  border-radius: 10px;
  width: 75%;
  height: 4rem;
  padding: 0px 5px;
}

.url-input button {
  all: unset;
  margin-left: 1rem;
  background-color: hsl(180, 66%, 49%);
  color: white;
  padding: 0rem 2rem;
  border-radius: 10px;
  height: 4rem;
  font-weight: 600;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .1s ease-in-out;
}

button:hover {
  opacity: 0.6;
}

.main {
  min-height: 90vh;
  background-color: hsl(0, 0%, 75%, 0.2);
}

.stats {
  width: 40%;
  text-align: center;
  padding-top: 13rem;
  margin: 0 auto;
}

.stats h2 {
  font-weight: 700;
  font-size: 3.2rem;
  color: hsl(255, 11%, 22%);
}

.stats p {
  color: hsl(257, 7%, 63%);
}
